.navTabs {
  display: flex;
  padding: 3vh;
  text-align: center;
}

.navItem {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;;
}

.navItem:hover {
  display: inline-block;
  transform: scale(1.1);
}
