/* ===COLORS=== */
:root {
  --jumboBG: #d7ccc8;
  --representation: #e1bee7;
  --actionAndExpression: #bbdffb;
  --engagement: #c9e6c9;
  --footer: #ffccbc;
  --headerText: #ff5722;
  --background: #feffff;
}
