@import "../../constants/theme.css";

.glvcContainer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  padding-top: 4%;
  padding-bottom: 4%;
  height: 400px;
  max-width: 600px;
  text-align: center;
  word-wrap: break-word;
}

.techniqueLink {
  font-size: 170%;
}


/* styles based on guidelineInt */
.glvc1,
.glvc2,
.glvc3 {
  background-color: var(--representation);
}

.glvc4,
.glvc5,
.glvc6 {
  background-color: var(--actionAndExpression);
}

.glvc7,
.glvc8,
.glvc9 {
  background-color: var(--engagement);
}

/* #glvcContainer:hover {
}

#glvcNum {
}

#glvcTitle {
} */
